.form {
  margin-top: 30px;
  margin-bottom: 200px;
}

.container {
  position: relative;
  display: inline-block
}

.optionsContainer {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  cursor: pointer;
}

.input {
  height: 35px;
  width: 200px;
  margin-right: 15px;
}

.subInput {
  height: 35px;
  width: 202px;
  border: 1px solid black;
  padding: 1px 2px;
  display: flex;
  align-items: center;
  border-top: none;
}

.subInput:hover {
  background-color: antiquewhite;
}

.button {
  height: 38px;
  background-color: yellowgreen;
  border: 1px solid yellowgreen;
  border-radius: 5%;
  cursor: pointer;
}

.paragraf {
  font-size: x-large;
}

.footer {
  font-size: large;
}